<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<main>
  <div class="container">
    
    <h1>See what's fresh at the bar</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      <% drinks.forEach(function(drink) { %>
            <div class="col">
              <div class="card" style="width: 18rem;">
                <% if (drink.img) { %>
                  <img src="<%= drink.img %>" class="card-img-top">
                <% }else{ %>
                  <img src="/img/placeholder.jpg" class="card-img-top">
                <% } %> 
                <div class="card-body">
                  <h5 class="card-title"><%= drink.name %></h5>
                  <!-- styled the avatar based on mongoose-movies!! -->
                  <p class="review-user"><img src="<%=drink.user.avatar %>"></p>
                  <p class="card-text">submitted by: <%= drink.user.name %></p>
                  <a href="/drinks/<%= drink._id %>" class="btn btn-primary">Details</a>
                </div>
              </div>
            </div>
       <% }); %>

    </div>

  </div>
</main>
  
<%- include('../partials/footer') %>