<%- include('../partials/header') %>
<%- include('../partials/navbar') %>


<header id="drink-info">
    <h2><%= drink.name %></h2>
    <p>
        <span>Ingredients:</span>
        <%= drink.ingredients %>
    </p>
    <% if (user && user._id.equals(drink.user._id)) { %>
        <form action="/drinks/<%= drink._id %>/edit" method="GET">
            <button type="submit">Edit this drink?</button>
        </form>
        <form action="/drinks/<%= drink._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete this drink?</button>
        </form>
    <% } %>
</header>

<%- include('../partials/footer') %>