<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<main>
    <div class="container">

        <h2><%= drink.name %></h2>
        <div>Ingredients:</div>
        <p class="show-breaks"><%= drink.ingredients %></p>
        <% if (user && user._id.equals(drink.user._id)) { %>
            <form action="/drinks/<%= drink._id %>/edit" method="GET">
                <button type="submit">Edit this drink?</button>
            </form>
            <form action="/drinks/<%= drink._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete this drink?</button>
            </form>
        <% } %>      
    </div>
</main>



<body id="drink-info">
    <h2><%= drink.name %></h2>
    <div>Ingredients:</div>
    <p class="show-breaks"><%= drink.ingredients %></p>
    <% if (user && user._id.equals(drink.user._id)) { %>
        <form action="/drinks/<%= drink._id %>/edit" method="GET">
            <button type="submit">Edit this drink?</button>
        </form>
        <form action="/drinks/<%= drink._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete this drink?</button>
        </form>
    <% } %>
</body>


<br>
<br><br>
<h2 id="review-title">Reviews</h2>
<section>
  <div id="reviews-containers">
    <% if (useruser && user._id.equals(drink.user._id)) { %>
      <form id="add-review-form" method="POST" action="/drinks/<%= drink._id %>/reviews">
        <label>Rating:</label>
        <select id="rating-number" name="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option selected value="3">3</option>
        </select>
        <br>
        <br>
        <label>What you think?</label>
        <textarea name="content"></textarea>
        <input type="submit" value="Add Review">
      </form>
      <% } %>
        <br>
        <div id="review-list">
          <% if (drink.reviews.length) { %>
            <table>
              <thead>
                <tr>
                  <th>User</th>
                  <th>Date</th>
                  <th>Review</th>
                  <th>Rating</th>
                </tr>
              </thead>
              <tbody>
                <% let total=0 %>
                  <% drink.reviews.forEach(function(r) { %>
                    <% total +=r.rating %>
                      <tr>
                        <td class="review-user"><img src="<%= r.userAvatar %>" alt="avatar"> &nbsp;&nbsp;
                          <%= r.userName %>
                        </td>
                        <td>
                          <%= r.createdAt.toLocaleDateString() %>
                        </td>
                        <td>
                          <%= r.content %>
                        </td>
                        <td>
                          <%= r.rating %>
                        </td>
                        <td>
                          <% if (user?._id.equals(r.user)) { %>
                            <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                              <button type="submit">X</button>
                            </form>
                            <% } %>
                        </td>
                      </tr>
                      <% }); %>
                        <tr>
                          <td colspan="3"></td>
                          <td><strong>
                              <%= (total / drink.reviews.length).toFixed(1) %>
                            </strong></td>
                        </tr>
              </tbody>
            </table>
            <% } else { %>
              <h5 id="No-R">No Reviews Yet</h5>
              <% } %>
        </div>
</section>


<%- include('../partials/footer') %>